<div class="bg-success">
  <div class="container">
    <div class="row justify-content-center align-items-center h-100">
      <div class="d-flex flex-column align-items-center">
        <h1
          class="mx-auto text-white my-auto"
          style="font-weight:bold"
        >Remindoo</h1>
        <h6 class="text-white">A reminder app</h6>
        <div class="card p-5 col-10 col-md-6">
          <h3>Login</h3>
          <form action="/login" method="POST">
            <h6 class="mt-3"><label>Email</label></h6>
            <input
              type="email"
              placeholder="Enter email"
              class="form-control mt-2"
              required="true"
              name="email"
            />
            <h6 class="mt-3"> <label>Password</label></h6>
            <input
              type="password"
              placeholder="Enter password"
              class="form-control mt-2"
              required="true"
              name="password"
            />
            <button class="btn btn-success mt-4" type="submit">Login</button>
          </form>
          <hr />
          <div>New to Remindoo?
            <a href="/signup">Sign Up</a></div>
        </div>
      </div>
    </div>
  </div>
</div>